@import 'reset';
@import 'colors';
@import 'card';
@import url('https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:300');
@import 'elements';
@import 'chrome';
@import 'preview';
@import 'partners';

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
