#partners {
    display: flex;
    flex-wrap: wrap;
    a {
        min-width: 15em;
        flex: 1;
        margin-bottom: 2em;
        text-align: center;
    }
    img {
        min-width: 15em;
        height: 3em;
    }
}
